<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li class="active"><a href="/home/admin">管理员</a></li>
		</ol>
		
		<%= link_to "商品处理", products_path, class: "btn btn-danger" %>
		<%= link_to "订单处理", orders_path, class: "btn btn-danger" %>
	</div> 
</div>